tqdm
pandas
boto3
fastparquet
pyarrow
langchain
langchain-community
langchain-huggingface
sentence-transformers
snowflake-connector-python
snowflake-snowpark-python
google-genai
nltk
streamlit
scikit-learn
langchain_chroma
plotly

